@model Meal_Tracking_App.ViewModels.RecipeDetailViewModel

<h1>@Model.Name</h1>

<table class="table">
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>

    @if (Model.Link != null)
    {
        <tr>
            <th>Link</th>
            <td><a href="@Model.Link" target="_blank">@Model.Name Recipe</a></td>
        </tr>
    }

    @if (Model.Image != null)
    {
        <tr>
            <th>Image</th>
            <td><img src="@Model.Image" alt="Image of @Model.Name" style="max-width:450px;max-height:auto"></td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RecipeId })
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
