

<form action="/search/results" method="post">

    <h2>Search by date</h2>

    <p>
        <label for="searchDate">Date</label>
        <input type="date" value="MM/DD/YYYY" name="searchDate" />
    </p>

    <input type="submit" class="btn btn-dark" value="Search" />

</form>

<hr />

<h1>@ViewBag.title</h1>

@if (ViewBag.entries != null)
{
    <table>
        @foreach (var entry in ViewBag.entries)
        {
            <tr>
                <td>
                    @*<p><a asp-controller="Entries" asp-action="Detail" asp-route-id="@entry.EntryId">@entry.Time</a>: @entry.Type.ToString()</p>*@
                    <p>Time: @entry.Time</p>
                    <p>Meal Type: @entry.Type.ToString()</p>
                    <p>Description: @entry.Description</p>
                    <p>Feelings: @entry.Feelings</p>
                </td>
            </tr>
        }

    </table>
}

