@model Meal_Tracking_App.ViewModels.EntryDetailViewModel

<h1>@Model.Date</h1>

<table class="table">
    <tr>
        <th>Time</th>
        <td>@Model.Time</td>
    </tr>
    <tr>
        <th>Type</th>
        <td>@Model.Type</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
    <tr>
        <th>Feelings</th>
        <td>@Model.Feelings</td>
    </tr>
</table>


<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EntryId })
</div>

<div>
    @Html.ActionLink("View All Entries", "Index")
</div>
