@model List<Meal_Tracking_App.Models.Entry>

<h1>Daily Entries</h1>

<p>
    <a asp-controller="Entries" asp-action="Add">Add Entry</a>
</p>


<p>
    <a asp-controller="Entries" asp-action="Delete">Delete Entry</a>
</p>

@if (Model.Count == 0)
{
    <p>No entries yet!</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                Date
            </th>
            <th>
                Time
            </th>
            <th>
                Type
            </th>
            <th>
                Description
            </th>
            <th>
                Feelings
            </th>
        </tr>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.Id</td>
                <td>@entry.Date</td>
                <td>@entry.Time</td>
                <td>@entry.Type</td>
                <td>@entry.Description</td>
                <td>@entry.Feelings</td>
            </tr>
        }
    </table>
}